.positive {
  color: green;
  border: 2px solid green;
  border-radius: 5px;
  background-color: #CCC;
}

.negative {
  color: red;
  border: 2px solid red;
  border-radius: 5px;
  background-color: #CCC;
}